
@font-face {
    font-family: 'Fakt Air';
    src: url('../fonts/fakt-pro/FaktPro-Air.eot');
    src: url('../fonts/fakt-pro/FaktPro-Air.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Air.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Air.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt Hair';
    src: url('../fonts/fakt-pro/FaktPro-Hair.eot');
    src: url('../fonts/fakt-pro/FaktPro-Hair.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Hair.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Hair.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-Thin.eot');
    src: url('../fonts/fakt-pro/FaktPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Thin.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-ThinItalic.eot');
    src: url('../fonts/fakt-pro/FaktPro-ThinItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-ThinItalic.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-Light.eot');
    src: url('../fonts/fakt-pro/FaktPro-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Light.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}


@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-Blond.eot');
    src: url('../fonts/fakt-pro/FaktPro-Blond.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Blond.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Blond.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-Normal.eot');
    src: url('../fonts/fakt-pro/FaktPro-Normal.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Normal.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Normal.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-Medium.eot');
    src: url('../fonts/fakt-pro/FaktPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-Medium.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fakt';
    src: url('../fonts/fakt-pro/FaktPro-SemiBold.eot');
    src: url('../fonts/fakt-pro/FaktPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fakt-pro/FaktPro-SemiBold.woff') format('woff'),
    url('../fonts/fakt-pro/FaktPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}