.loader {
    z-index: -10;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.loader__container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 220px;
    transform: translate(-50%, -50%);
}

.loader__logo {
    position: relative;
    width: 50%;
    margin: 0 auto 2rem;
}

.loader__logo img {
    display: block;
    width: 100%;
    height: auto;
}

.loader__spinner {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: rgba($--color-black, 0.05);
}

.loader__spinner span {
    content: '\00a0';
    display: block;
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100%;
    border-radius: 3px;
    background: rgba($--color-primary, 0.8);
    animation: ease-in slide 2s infinite;
}

@keyframes slide {

    0% {
        transform: translateX(-100%) scaleX(0);
    }

    70% {
        transform: translateX(10%) scaleX(1);
    }

    100% {
        transform: translateX(100%) scaleX(0);
    }

}